body{
    padding: 100px;
    background-color: black;
    color: orange;
}

h1{
    color: orange;
}

ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

li{
    list-style: none;
    text-decoration: none;
}
a{
    text-decoration: none;
}