{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{% static "style.css" %}" >
    <title>
        {% block title %} default title{% endblock %}
    </title>
</head>
<body>
    <nav>
        <ul>
            <a href="http://127.0.0.1:8000/app/"> <li>App</li></a>
            <a href="http://127.0.0.1:8000/app/blog/"><li>Blog</li></a>
         
        </ul>
    </nav>
    {% block content %}{% endblock %}

</body>
</html>